@import "components/common/styleGuide.module";

.title__wrap {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 24px 32px 6px 32px;
}

.title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: $black2;
}

.link {
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  color: $gray5;
}
