$brand-01: #F5FA10;
$game-festival-1: #8D83D2;
$game-festival-2: #E3E2F7;
$black: #000;
$black1: #1A1A1A;
$black2: #211F1F;

$white: #fff;
$gray1: #FAFAFA;
$gray2: #D2D2D2;
$gray3: #C9C9C9;
$gray4: #818181;
$gray5: #686868;
