.toolBar {
    display: flex;
    justify-content: space-between;

    p {
        font-family: galmuri-bold, serif;
        font-size: 14px;
    }

    .toolBar__icon {
        margin: 0 4px 0 4px;
    }
}
