.header {
    display: flex;
    flex-direction: column;
}

.header .toolBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.header .toolBar p {
    font-family: galmuri-bold, serif;
    font-size: 14px;
}

.toolBar__icon {
    margin: 0 4px 0 4px;
}

.musicBar {
    width: 100%;
    height: 70px;
    background-color: #000;
    margin-bottom: 16px;
}
