.sidebar {
  position: absolute;
  z-index: 10;
  height: 100vh;
  background-color: #fff;
  padding-left: 32px;

  &:before {
    content: '';
    position: absolute;
    left: -499px;
    width: 500px;
    height: 100vh;
    background-color: #fff;
  }
}