@import 'components/common/styleGuide.module';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: $game-festival-2;
}

.image {
  margin-bottom: 12px;
}

.text__load {
  font-size: 24px;
  line-height: 40px;
  font-family: cafe24-ssurround, serif;
  text-align: center;
  color: #6964A3;
}