@import "components/common/styleGuide.module";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.title__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 86px;
  background-color: $game-festival-2;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.title {
  font-family: cafe24-ssurround, serif;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: $game-festival-1;
}

.illus {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 180px;
  height: 180px;
  background: white;
  border-radius: 50%;
  margin: 32px auto 16px auto;
}

.illus_id {
  font-family: LeeSeoyun, serif;
  font-size: 14px;
  line-height: 18px;
  color: $game-festival-1;
  margin-bottom: 16px;
}

.desc__wrap {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.desc__title {
  font-family: cafe24-ssurround, serif;
  font-size: 20px;
  line-height: 24px;
  color: $game-festival-1;
}

.desc {
  font-family: LeeSeoyun, serif;
  padding: 16px 0 16px 0;
  word-break: keep-all;
  font-size: 18px;
  line-height: 28px;
  color: #3A3570;
}

.desc__underline {
  background-image: linear-gradient(to right, #DFDCFC 50%,
          rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 12px 1px;
  background-repeat: repeat-x;
}

.festival__wrap__title {
  margin: 32px 0 16px 0;
  color: #6964A3;
  font-family: cafe24-ssurround, serif;
  font-size: 20px;
  line-height: 24px;
}

.festival__wrap__title__sub {
  margin-bottom: 16px;
  color: #6964A3;
  font-family: cafe24-ssurround, serif;
  font-size: 18px;
  line-height: 22px;
}

.festival__wrap {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 20px;
}

.festival {
  margin-right: 24px;
}

.festival__img {
  width: 280px;
  height: 280px;
  border-radius: 24px;
  overflow: hidden;
}

.festival__title {
  margin-top: 16px;
  font-family: cafe24-ssurround, serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #3A3570;
}

.festival__desc {
  margin-top: 2px;
  font-family: LeeSeoyun, serif;
  font-size: 16px;
  line-height: 24px;
  word-break: keep-all;
  color: #3A3570;
}

.festival__time {
  font-family: LeeSeoyun, serif;
  font-size: 12px;
  line-height: 24px;
  color: #9D99BA;
}

.buttons__wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.button__share {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0 16px 0 16px;
  border-radius: 50%;
  background: #E3E2F7;
  cursor: pointer;
}

.retry {
  width: 248px;
  height: 48px;
  margin: 0 auto 0 auto;
  background: #8B85CD;
  border: none;
  border-radius: 30px;
  cursor: pointer;

  font-family: cafe24-ssurround, serif;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
