.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 80px 30px 0 30px;
  border: 8px solid rgba(139, 133, 205, 0.24);
  box-sizing: border-box;
}

.text__order {
  width: 100px;
  border-radius: 30px;
  background: #565096;
  font-family: hambakSnow, serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 13px;
}

.text__question {
  font-family: cafe24-ssurround, serif;
  font-size: 20px;
  line-height: 24px;
  color: #565196;
  word-break: keep-all;
  text-align: center;
  margin-bottom: 20px;
}

.button__answer {
  width: 100%;
  height: 112px;
  margin: 12px 0 12px 0;
  background: #F9F9FD;
  border: 1px solid #B4B0E5;
  border-radius: 8px;

  font-family: Pretendard, serif;
  font-size: 16px;
  line-height: 19px;
  color: #3A3570;
  word-break: keep-all;
}

.progress {
  position: absolute;
  bottom: 30px;
  display: flex;
  width: calc(100% - 60px);
  height: 16px;
  border-radius: 8px;
  padding: 4px;
  background-color: #f7f7f7;

  div {
    transition: 0.8s ease;
    background-color: #B4B0E5;
    border-radius: 4px;
  }
}
