@import 'components/common/styleGuide.module';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 60px 30px 0 30px;
  background-color: $game-festival-2;
  box-sizing: border-box;
}

.text__order {
  border-radius: 30px;
  background: #565096;
  margin-bottom: 13px;
  padding: 4px 10px 4px 10px;

  font-family: cafe24-ssurround, serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  text-align: center;
}

.text__question {
  font-family: cafe24-ssurround, serif;
  font-size: 20px;
  line-height: 32px;
  color: #565196;
  word-break: keep-all;
  text-align: center;
  margin: 0 10px 20px 10px;
}

.button__answer {
  width: 100%;
  height: 112px;
  margin: 12px 0 12px 0;
  padding: 0 10px 0 10px;
  background: #F9F9FD;
  border: 1px dashed #B4B0E5;
  border-radius: 24px;
  cursor: pointer;

  font-family: LeeSeoyun, serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #3A3570;
  word-break: keep-all;
}

.progress {
  position: absolute;
  bottom: 30px;
  display: flex;
  width: calc(100% - 60px);
  height: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 4px;
  background-color: #f7f7f7;

  div {
    transition: 0.8s ease;
    background-color: $game-festival-1;
    border-radius: 4px;
  }
}
