.search {
  z-index: 11;
  transition: 0.5s;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: aqua;

  &.close {
    transform: translate(0, -100%);
    opacity: 0;
  }
}
