@import "../../../../components/common/styleGuide.module";

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $game-listener-1;
    min-height: 100vh;
    padding: 24px 32px 28px 32px;
}

.music {
    .music__play {
        font-family: galmuri-bold, serif;
        font-size: 14px;
        margin-bottom: 13px;
    }

    .music__title {
        font-family: galmuri-bold, serif;
        font-size: 32px;
        line-height: 43px;
        margin-bottom: 6px;
    }

    .music__artist {
        font-family: galmuri-bold, serif;
        font-size: 20px;
        line-height: 17px;
    }
}

.listenerType {
    margin: 22px 0 0 0;
    padding: 22px 0 40px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    .typeName {
        font-family: galmuri-bold, serif;
        font-size: 56px;
        line-height: 75px;
        text-align: center;
    }

    .typeDesc {
        margin-top: 16px;
        background-color: black;
        padding: 10px;
        font-family: galmuri-bold, serif;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: $game-listener-1;
    }

    .title {
        margin: 32px 0 24px 0;
        text-align: center;
        font-family: galmuri-bold, serif;
        font-size: 20px;
        line-height: 27px;
    }

    .keywords {
        display: flex;
        justify-content: space-between;

        p {
            color: $game-listener-1;
            font-family: galmuri-bold, serif;
            font-size: 20px;
            height: 27px;
        }
    }
}

.recommend {
    margin-top: 32px;

    .title {
        margin-bottom: 10px;
        text-align: center;
        font-family: galmuri-bold, serif;
        font-size: 20px;
        line-height: 27px;
    }
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;

    width: 100%;
    height: 69px;
    background-color: black;
    color: $game-listener-1;

    p {
        text-align: center;
        font-family: galmuri-bold, serif;
        font-size: 18px;
    }
}

.shareTitle {
    margin-top: 30px;
    border-top: 2px solid black;
    padding-top: 30px;
    width: 100%;
    font-size: 24px;
    text-align: center;
    font-family: galmuri-bold, sans-serif;
}

.shares {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.icon {
    width: 24px;
    height: 24px;
}

.icon__link {
    scale: 1.5;
}

.icon__facebook {
    transform: translate(-4px, -4px);
}

.shareButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: none;
    background-color: black;
}
