@import "../../../components/common/styleGuide.module";

.container {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.firework {
  position: absolute;
  right: 0;
  top: 0;
}

.title {
  margin-top: 88px;
  font-size: 40px;
  font-family: cafe24-ssurround, serif;
  color: #6964A3;

  span {
    color: #E78ABD;
    font-family: cafe24-ssurround, serif;
  }
}

.illus_wrap_top {
  display: flex;
  margin: 20px 0 20px 0;

  .illus_item:nth-child(1),
  .illus_item:nth-child(3) {
    opacity: 0.7;
  }
}

.illus_wrap_bottom {
  display: flex;
  justify-content: space-between;
  min-width: 480px;
  margin-bottom: 20px;

  .illus_item:nth-child(1),
  .illus_item:nth-child(4){
    opacity: 0.5;
  }
}

.illus_item {
  border: 2px solid #F5F0FC;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 10px 0 10px;
}

.button__wrap {
  display: flex;
  flex-direction: column;

  button {
    margin: 8px 0 8px 0;
    width: 248px;
    height: 48px;
    border-radius: 24px;
    cursor: pointer;

    p {
      font-size: 18px;
      font-family: cafe24-ssurround, serif;
    }
  }

  .start {
    background-color: #8B85CD;
    border: none;
    p {
      color: #fff;
    }
  }

  .share {
    background-color: transparent;
    border: #DAD8F2 1px solid;
    p {
      color: #DAD8F2;
    }
  }
}
